<html>
  <head>Actors</head>
  <body>
    <form method="post" action="/actors">
      <input type="text" name="attributes_name" placeholder="attributes_name" />
      <input type="text" name="age" placeholder="age"/>
      <input type="text" name="gender" placeholder="gender"/>
      <input type="submit" value="Create" />
    </form>
    <ul>
      {% for d in data %}
      <li>{{ d.attributes_name }}<a href="/update/{{d.id}}">Update</a> <a href="/delete/{{d.id}}">Delete</a></li>
      
      {% endfor %}
    </ul>
  </body>
</html>